






<div style="margin-inline: 20px;">
    <div class="card" style="background-color: rgb(231, 231, 231);margin-top: 10px;border-radius: 20px;margin-bottom: 10px;">
        <div style="margin-top: 10px;">
            <h1 align="center">Multiple Choice Test</h1>
            <hr>

            <div style="padding-inline: 10px;">

               <div>
                1) Which of the following testing is also known as white-box testing?<br><br>
                <div style="padding-left: 15px; ">

                
                <form>
                    <label class="field">
                        <input type="radio" name="testingTechnique"  [(ngModel)]="selectedAnswer1"  value="Structural testing" />
                        Structural testing
                    </label><br />
                    <label class="field">
                        <input type="radio" name="testingTechnique"  [(ngModel)]="selectedAnswer1"  value="Error guessing technique" />
                        Error guessing technique
                    </label><br />
                    <label class="field">
                        <input type="radio" name="testingTechnique"  [(ngModel)]="selectedAnswer1"  value="Design based testing" />
                        Design based testing
                    </label><br />
                    <label class="field">
                        <input type="radio" name="testingTechnique"  [(ngModel)]="selectedAnswer1"  value="None of the above" />
                        None of the above
                    </label><br />
                    <label class="field">
                        <input type="radio" name="testingTechnique"  [(ngModel)]="selectedAnswer1"  value="" />
                        Clear
                    </label><br />
                   
                </form>
            </div>
               </div>
               <hr>
               <div>
                2) What is the size of float and double in java?<br><br>
                <div style="padding-left: 15px; ">

                
                <form>
                    <label class="field">
                        <input type="radio" name="testingTechnique"  [(ngModel)]="selectedAnswer2"  value="64 and 32" />
                        64 and 32
                    </label><br />
                    <label class="field">
                        <input type="radio" name="testingTechnique"  [(ngModel)]="selectedAnswer2"  value="32 and 32" />
                        32 and 32
                    </label><br />
                    <label class="field">
                        <input type="radio" name="testingTechnique"  [(ngModel)]="selectedAnswer2"  value="64 and 64" />
                        64 and 64
                    </label><br />
                    <label class="field">
                        <input type="radio" name="testingTechnique"  [(ngModel)]="selectedAnswer2"  value="32 and 64" />
                        32 and 64
                    </label><br />
                    <label class="field">
                        <input type="radio" name="testingTechnique"  [(ngModel)]="selectedAnswer2"  value="" />
                        clear
                    </label><br />
                   
                </form>
            </div>
               </div>
               <hr>
               <div>
                3) Which Keyword is used to prevent any changes in the variable within a C program?<br><br>
                <div style="padding-left: 15px; ">

                
                <form>
                    <label class="field">
                        <input type="radio" name="testingTechnique"  [(ngModel)]="selectedAnswer3" value="immutable" />
                        immutable
                    </label><br />
                    <label class="field">
                        <input type="radio" name="testingTechnique"  [(ngModel)]="selectedAnswer3"  value="mutable" />
                        mutable
                    </label><br />
                    <label class="field">
                        <input type="radio" name="testingTechnique"  [(ngModel)]="selectedAnswer3" value="const" />
                        const
                    </label><br />
                    <label class="field">
                        <input type="radio" name="testingTechnique"  [(ngModel)]="selectedAnswer3" value="volatile" />
                        volatile
                    </label><br />
                    <label class="field">
                        <input type="radio" name="testingTechnique"  [(ngModel)]="selectedAnswer3" value="" />
                        clear
                    </label><br />
                   
                </form>
            </div>
               </div>
               <hr>
               <div>
                4) Identify the method of the JDBC process among the following options.<br><br>
                <div style="padding-left: 15px; ">

                
                <form>
                    <label class="field">
                        <input type="radio" name="testingTechnique"  [(ngModel)]="selectedAnswer4"  value="Remove()" />
                        Remove()
                    </label><br />
                    <label class="field">
                        <input type="radio" name="testingTechnique"  [(ngModel)]="selectedAnswer4"  value="Deletebatch()" />
                        Deletebatch()
                    </label><br />
                    <label class="field">
                        <input type="radio" name="testingTechnique"  [(ngModel)]="selectedAnswer4"  value="setbatch()" />
                        setbatch()
                    </label><br />
                    <label class="field">
                        <input type="radio" name="testingTechnique" [(ngModel)]="selectedAnswer4"  value="Addbatch" />
                        Addbatch
                    </label><br />
                    <label class="field">
                        <input type="radio" name="testingTechnique" [(ngModel)]="selectedAnswer4"  value="" />
                        Clear
                    </label><br />
                   
                </form>
            </div>
               </div>
               <hr>
               <div>
                5) Which of the following technologies are also used with ASP.NET?<br><br>
                <div style="padding-left: 15px; ">

                
                <form>
                    <label class="field">
                        <input type="radio" name="testingTechnique"  [(ngModel)]="selectedAnswer5"  value="css" />
                        css
                    </label><br />
                    <label class="field">
                        <input type="radio" name="testingTechnique"  [(ngModel)]="selectedAnswer5"  value="javascript" />
                        javascript
                    </label><br />
                    <label class="field">
                        <input type="radio" name="testingTechnique"  [(ngModel)]="selectedAnswer5" value="Ajax" />
                        Ajax
                    </label><br />
                    <label class="field">
                        <input type="radio" name="testingTechnique"  [(ngModel)]="selectedAnswer5" value="All" />
                        All
                    </label><br />
                    <label class="field">
                        <input type="radio" name="testingTechnique"  [(ngModel)]="selectedAnswer5" value="" />
                        Clear
                    </label><br />
                   
                </form>
            </div>
            <hr>
            <div align="center" style="margin-bottom: 20px;margin-top: 20px;">
                <button (click)=" open_modal()" >
                    Submit
                </button>

                <!-- app.component.html -->
<!--<button class="btn btn-primary" >Launch Modal</button>
                <app-result-page #myModal title="Modal Title">
                    <p>This is the modal body content!</p>
                  </app-result-page>--->

                <!---model start here -->
                <!-- Button trigger modal -->

                <!---model end here-->
    
            </div>
           
               </div>

            </div>
        </div>   
        
<!---exam submission modal-->
<div
    
class="modal"
tabindex="-1"
role="dialog"
[ngStyle]="{'display':displayStyle}"> 
<div class="modal-dialog" role="document" style="background-color: aqua;"> 
	<div class="modal-content" style="background-color: rgb(167, 167, 167);"> 
	
	<div class="modal-body"> 
		<p>Are you sure you want to submit your exam ?</p> 

	</div> 
	<div class="modal-footer"> <button type="button" class="btn btn-danger"
    (click)="closePopup()"> 
cancel 
</button> 
		<button type="button" class="btn btn-danger"
				(click)="submit_exam()"> 
		Submit
		</button> 
	</div> 
	</div> 
</div> 
</div>
<!---->
 
    </div>
</div>
