<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" style="padding-left: 20px;" href="#">ExamHub</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/" class="mx-2"   style="cursor: pointer;">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/login_page" class="mx-2"  style="cursor: pointer;">Login</a>
      </li>
      <li class="nav-item">
        <a routerLink="/register_page" class="mx-2" style="cursor: pointer;">Registration</a>
      </li>
      <li class="nav-item">
        <a routerLink="/course_page" class="mx-2"  style="cursor: pointer;">Course</a>
      </li>
      <li class="nav-item">
        <a routerLink="/test_page" class="mx-2"  style="cursor: pointer;">Test</a>
      </li>
      <li class="nav-item">
        <a routerLink="/admision_page" class="mx-2"  style="cursor: pointer;">Admission</a>
      </li>
      <li class="nav-item">
        <a routerLink="/profile_page" class="mx-2"  style="cursor: pointer;">profile</a>
      </li>
    </ul>
  </div>
</nav>
