



<div style="padding-top: 5px;">
   
</div>


<div style="margin-inline: 20px;">
    <div class="card" style="background-color: rgb(231, 231, 231);margin-top: 10px;border-radius: 20px;margin-bottom: 10px;">
        <div style="margin-top: 10px;">
            <h1 align="center">Instruction</h1>
            <hr>
            <div >
                <ul >
                    <li>The test consists of 5 questions.</li>
                    <li>Each question is worth 5 marks.</li>
                    <li> The total marks for the test are 25 marks.</li>  
                    <li> The passing marks for the test is 15 marks.</li>  
                       
                </ul>
                <div align="center" style="margin-bottom: 20px;margin-top: 20px;">
                    <button (click)="open_exam()">
                        Start
                    </button>
        
                    <button style="margin-left: 10px;" routerLink="/" >
                        Back
                    </button>
        
                </div>
            </div>
           

           </div>
           </div>
           </div>
           