<div style="margin-inline: 20px;">
    <div class="card" style="background-color: rgb(231, 231, 231); margin-top: 10px; border-radius: 20px; margin-bottom: 10px;">
        <div style="margin-top: 10px; margin-bottom: 20px;">
            <h1 align="center">Admission Receipt</h1>
            <hr>
            <div style="padding-left: 50px;">
                <label for="name">Student Name :</label>
                <b> {{ fname }} {{ lname }}</b>
                <br>
                <label for="email">Email :</label>
                <b> {{ email }}</b>
                <br>
                <label for="address">Address :</label>
                <b> {{ address }}</b>
                <br>
                <label for="sate">State :</label>
                <b> {{state}}</b>
                <br>
                <label for="postal_code">Postal Code :</label>
                <b> {{ postal_code }}</b>
                <br>
                <label for="dob">Date of Birth :</label>
                <b> {{ dob }}</b>
                <br>
                <label for="phone_number">Phone Number :</label>
                <b> {{ phone_number }}</b>
                <br>
                <label for="admission_date">Date of Admission :</label>
                <b> admision_date</b>
                <br>
                
                <b style="color: green;">Admision Confirmed !</b>

            </div>
        </div>
    </div>
</div>
