<div class="container " style="padding-top: 5px;">
    <div align="center">
<button routerLink="/">Go Bock</button>
</div>

</div>


<div align="center" style="margin-top: 10%;margin-bottom: 10%;">
    <div class="card w-50 ">
        <div style="padding-top:10px ;padding-bottom: 10px;">
        <h4 class="title">Forgot Password!</h4><br>
        <form>
          <label class="field" for="logemail">
            <!--<span class="input-icon">&#64; </span> 
            <span><i class="fas fa-phone input-icon" ></i></span>-->
            <input
              autocomplete="off"
              id="logemail"
              placeholder="Enter Email / Phone number"
              class="input-field"
              name="logemail"
              type="text"
              [(ngModel)]="emailorphone"
            />
          </label>
          <br>

          <div *ngIf="password_visible" style="color: white;">
            <p>Your password : <b>{{password}}</b></p>
          </div>
         
          <div align="center">
            <div class="loader" *ngIf="visible">
              <div class="circle"></div>
              <div class="circle"></div>
              <div class="circle"></div>
              <div class="circle"></div>
          </div>
          </div>
          <button class="btn" type="button" (click)="forget_function()" [disabled]="!emailorphone ">Find</button><br>
          <span class="btn-link" routerLink="/login_page" style="cursor: pointer;">Login here</span>
 
        </form>
        </div>
      </div>
      
</div>